.key1{
    border: 5px solid black;
    background-color: white;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    transition: all;
    box-shadow: 10px 5px #0000;
    color: white;
    text-align: right;
    top: 35px;
    font-size: 50px;
}


.key1:hover{
    background-image:linear-gradient(to right,white,white, white,white,gray);
    width: 495px;
    color:black;
}





body{
       background-color: gray;
   }


   .key5:hover{
        width: 245;
    }
   

   


  .black1{
   border: 5px solid black;
   background-color:black;
   width: 250px;
   height: 50px;
   border-radius: 15px;
   position: absolute;
   top: 12vh; 
  }



  .black2{
    border: 5px solid black;
    background-color:black;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    top: 27vh;
   }


   .black3{
    border: 5px solid black;
    background-color:black;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    top: 74vh;
   } 


   .black4{
    border: 5px solid black;
    background-color:black;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    top: 89vh;
   }



   .black5{
    border: 5px solid black;
    background-color:black;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    position: absolute;
    top: 136vh;
   }



   .black6{
    border: 5px solid black;
    background-color:black;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    position:absolute;
    top: 150vh;
   }





